h1{
  margin-bottom: 100px;
}

#track-one{
  text-align: right;
  margin-bottom: 100px;
	width: 1%; 
	min-height: 100px; 
	display: block
}

#track-two{
  text-align: right;
	margin-bottom: 100px;
	width: 1%; 
	min-height: 100px; 
	display: block
}

.snail{
  height: 100px;
  position: absolute;
}