h1{
  margin-bottom: 100px;
}

#track-one{
  margin-bottom: 100px;
	width: 1%; 
	min-height: 50px; 
	background-color: blue; 
	display: block
}
#track-two{
	margin-bottom: 100px;
	width: 1%; 
	min-height: 50px; 
	background-color: red; 
	display: block
}